/* css styles */

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --clr-bright-blue: hsl(212.23, 100%, 55.1%);         /* #1a84ff */
  --clr-mid-blue: hsl(212.09, 80.37%, 41.96%);         /* #1565c1 */
  --clr-mid-grey: hsl(208.24, 7.3%, 45.69%);           /* #6c757d */
  --clr-light-grey-1: hsl(210, 16.67%, 97.65%);        /* #f8f9fa */
  --clr-light-grey-2: hsl(210, 8.11%, 85.49%);         /* #d7dadd */

  --clr-red: hsl(0, 50.64%, 46.08%);                   /* #b13a3a *

  --clr-debug-light-pink: hsl(311.16, 72.88%, 88.43%); /* #f7ccef */
  --clr-debug-light-blue: hsl(212.04, 73.05%, 72.35%); /* #85b5ec */
  --clr-debug-light-green: hsl(120, 100%, 90%);        /* #ccffcc */

  --font-wt-normal: 400;
  --font-wt-medium: 500;
  --font-wt-semi-bold: 600;
  --font-wt-bold: 700;

  --h2-font-wt: var(--font-wt-medium);

  --home-txt-font-size: 1.1rem;

  --hero-font-size: 1rem;
  --hero-font-wt: var(--h2-font-wt);
  --hero-link-font-wt: var(--font-wt-semi-bold);

  --outer-grid-padding: 1rem 2rem;

  --contact-icon-size: 32px;

  --link-clr: var(--clr-mid-blue);
  --link-hover-clr: var(--clr-mid-blue);

  --head-foot-border-clr: var(--clr-light-grey-2);
  --footer-bkgrnd-clr: var(--clr-light-grey-1);
  --icons-clr: var(--link-clr);
  --icons-hover-clr: var(--clr-bright-blue);

  --icon-heart-clr: var(--clr-red);

  --font-sys-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

h1, h2, h3, h4 .rum-info {
  font-family: Montserrat, Roboto, var(--font-sys-stack);
}

h2 {
  font-size: 2rem;
  font-weight: var(--h2-font-wt);
  border: none;
}

h3 {
  font-size: 1.5rem;
  font-weight: var(--h2-font-wt);
}

.small-note {
  width: 100%;
  font-style: italic;
  text-align: left;
  font-weight: var(--font-wt-semi-bold);
  font-size: 0.9rem;
  margin: 0.5em 0 0 0;
  padding-top: 0.5rem;
}

.sep {
  position: relative;
  top: 0.1em;
  left: 0;
}

/*
.navbar-collapse {
  max-width: min-content;
}
*/

.navbar-nav {
  margin: auto;
  display: flex;
  /* Centre the navbar links */
  justify-content: center;
  font-size: 1.4rem;
}

#quarto-header {
  /* Match footer top border */
  border-bottom: 1px solid var(--head-foot-border-clr);
}

.outer-grid {
  display: grid;
  grid-template-columns: 2fr 4fr;
  gap: 0;
}

.outer-grid-left-col {
  padding: var(--outer-grid-padding);
  text-align: center;
}

.outer-grid-right-col {
  padding: var(--outer-grid-padding);
}

.hero {
  font-size: var(--hero-font-size);
  font-weight: var(--hero-font-wt);
  padding: 0.5em;
  display: flex;
  flex-direction: column;
}

.rum-info .group-type {
  display: inline-block;
  font-weight: normal;
  font-size: 1.3em;
}

.rum-info a, .rum-info a:link {
  font-weight: var(--hero-link-font-wt);
  color: var(--icons-clr);
  text-decoration: none;
  font-size: 1.1em;
}

.rum-info a:hover, .rum-info a:focus {
  text-decoration: underline;
}

.contact-icons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}

.contact-link {
  display: inline-block;
  position: relative; /* Create a positioning context */
  top: 0.6rem;
  width: var(--contact-icon-size);
  height: var(--contact-icon-size);
}

.contact-link__icon {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--contact-icon-size);
  height: var(--contact-icon-size);
  transition: opacity 0.3s ease;
}

.envelope-open {
  opacity: 0; /* Hide open envelope by default */
}

.contact-link:hover .envelope-closed,
.contact-link:focus .envelope-closed {
  opacity: 0; /* Hide closed envelope on hover or focus */
}

.contact-link:hover .envelope-open,
.contact-link:focus .envelope-open {
  color: var(--icons-hover-clr);
  opacity: 1; /* Show open envelope on hover or focus */
}

a.github-icon, a.github-icon:link {
  font-size: var(--contact-icon-size);
  padding: 0 0.2rem;
  position: relative;
  top: 0.1rem;
}

a.github-icon:hover, a.github-icon:focus {
  text-decoration: none;
  color: var(--icons-hover-clr);
  transition: color 0.3s ease; /* Smooth transition */
}

#landing-about {
  font-size: var(--home-txt-font-size);
}

.about-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0;
}

.about-grid ul {
  margin: 0;
  padding-left: 1rem;
}

.about-grid-left-col {
  justify-content: center;
  padding: 0 2em;
}

.about-grid-right-col {
  padding: 0 2em;
}

.get-in-touch {
  width: 100%;
  text-align: center;
}

.get-in-touch > * {
  margin-top: 2.5em;
}

.rolling-survey {
  width: 20em;
  margin: 0 auto;
}

.nav-footer {
  background-color: var(--footer-bkgrnd-clr);
  /* Match nav bottom border */
  border-top: 1px solid var(--head-foot-border-clr);
}

.nav-footer ul {
  list-style: none;
  padding: 0;
  font-size: 0.8rem;
}

.nav-footer li {
  margin-bottom: 0.5rem;
}

.nav-footer li a, .nav-footer li a:link {
  color: var(--link-clr);
  text-decoration: none;
}

.nav-footer li a:hover, .nav-footer li a:focus {
  color: var(--link-hover-clr);
  text-decoration: underline;
}

.nav-footer li.cc-icons a, .nav-footer li.cc-icons a:link {
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--icons-clr);
  transition: color 0.3s ease;
}

.nav-footer li.cc-icons a:hover, .nav-footer li.cc-icons a:focus {
  text-decoration: none;
  color: var(--icons-hover-clr);
}

.icon-heart {
  color: var(--icon-heart-clr);
}

h3 .event-title {
  font-size: 1.2rem;
  font-weight: var(--font-wt-semi-bold);
}

.listing-subtitle {
  width: 36em;
}

.event-summary {
  font-family: Montserrat, Roboto, var(--font-sys-stack);
  font-size: 1.1rem;
}

.event-time, .event-location {
  font-style: italic;
  font-size: 1rem;
}

.listing-date {
  padding-right: 0;
}

/*.quarto-listing-container-grid p.card-img-top {*/
p.card-img-top {
  text-align: center;
}

.quarto-listing-container-grid img {
  width: auto;
  height: auto;
  border: 1px solid var(--clr-light-grey-2);
  border-bottom: none;
  margin: 10px 3px 0 3px;
  padding: 0;
}

/*
#quarto-document-content.content {
}
*/
